<table class="table table-hover " style="width: 400px ; height: 400px;">
    <thead>

        <th></th>
        <th>صورة المنتج</th>
    </thead>
    <tbody>


        <tr *ngFor="let i of rowIndexArray">

            <td>
                <div class="imagebox" *ngIf="i!=0">
                    <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
                </div>
            </td>
            <td *ngIf="imageList[3*i]">
                <div class="imagebox">
                    <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="imageList[3*i+1]">
                <div class="imagebox">
                    <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
                </div>
            </td>

        </tr>
    </tbody>
</table>